.skillsList { 
    display: flex;
    flex-direction: row;
    padding: 50px;
    color: #fff;
}

.skills{
    display: flex;
    flex-direction: row;

}

.skill{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}