.header {
    display: flex;
    position: sticky;
    top: 0px;
    height: 60px;
    background-color: #0C0527;
    z-index: 5;
    box-sizing: border-box;
}

.header-block {
    display: flex;
    padding-left: 30px;
    padding-right: 10px;
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #0C0527;
    align-items: center;
    border-bottom: solid 1px #fff;
}