/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0527;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background: #FF451C;
  color: #0C0527;
  text-shadow: none;
}

::-moz-selection {
  background: #FF451C;
  color: #0C0527;
  text-shadow: none;
}