.nav {
    padding: 10px;
}

.nav li {
    display: inline;
    padding: 4px 10px;
    margin: 10px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    border: solid 1px #0C0527;
}

.nav li:hover {
    color: #FF451C;
    border: solid 1px #FF451C;
    transition: 0.2s;
}

.nav li:active {
    color: #0C0527;
    border: solid 1px #E08A3B;
    background-color: #E08A3B;
    transition: 0.1s;
}